<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6"><p id="copyright"></p></div>
      <div class="col-lg-6">
        <div class="icons ml-auto">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-whatsapp"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
