<%-include ("partials/header")-%>
<body>
  <main>
    <%-include ("partials/nav")-%>
    <div class="container">
      <p class="title">About Us</p>
    </div>
  </main>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 abt-text">
          <p>
            Galaxy Foundation Ghana is a Ghanaian based non-government,
            non-profit organization which seeks to bring smiles to the medically
            hopeless and poor people living in rural Ghana, Over 230 lives have
            been changed through the
            <em>JOURNEY FROM DESPAIR TO HOPE PROJECTS</em>.
          </p>
          <p>
            Parallely free medical screen has been conducted to cover over 7,000
            people living in varuous deprived communities and orphanages.
          </p>
          <p>
            Through the good works of the foundation, our chairman and founder,
            <em><strong>DAVID HAGAN</strong></em> was awarded at the 2019 MTN
            Heroes of Change and has received many other recognitions.
          </p>
          <p>
            Galaxy foundation was founded at the end of 2012 with the aim of
            helping the poor and needy and those who are most fragile and
            vulnerable. The foundation addresses issues mostly relating to
            education. health and sanitation.
          </p>
          <p>
            The foundation is registered with the Registrar Generals Department.
            The foundation works principally through partnerships with
            like-minded individuals, organizations, corporations and the
            government.
          </p>
          <div class="focus">
            <p>The three main fields the foundation focuses on are</p>

            <div class="list">
              <ul>
                <li>Education</li>
                <li>Health and well being</li>
                <li>Sanitation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <h1 class="heading">Our Team</h1>
      <div>
        <span class="executive">
          <img src="./images/dir.jpeg" alt="man" class="executive-img" />
          <p class="name">David Hagan</p>
          <p class="role">Executive Director</p>
        </span>
        <span class="executive">
          <img src="./images/pres.jpeg" alt="man" class="executive-img" />
          <p class="name">Bismark Bapono</p>
          <p class="role">President</p>
        </span>
        <span class="executive">
          <img
            src="./images/resources/3.jpg"
            alt="woman"
            class="executive-img"
          />
          <p class="name">Edna Naa A. Armah</p>
          <p class="role">Secretary</p>
        </span>
        <span class="executive last">
          <img src="./images/dep.jpeg" alt="man" class="executive-img" />
          <p class="name">Prince Osei</p>
          <p class="role">Deputy Director</p>
        </span>
      </div>
    </div>
  </section>
  <section class="mission">
    <div class="container">
      <div class="row">
        <div class="mission-item col-lg-4">
          <h3 class="minor-heading">OUR MISSION</h3>
          <p class="content">
            To protect human health, promote quality education and prevent
            environmental pollution through public education.
          </p>
        </div>
        <div class="mission-item col-lg-4">
          <h3 class="minor-heading">VALUES</h3>
          <p>Integrity, excellence and respect for people.</p>
        </div>

        <div class="mission-item col-lg-4">
          <h3 class="minor-heading">VISION</h3>
          <p>
            To make significant contribution to humanity by improving global
            health, quality education and good sanitation for all.
          </p>
        </div>
      </div>
    </div>
  </section>
  <iframe
    width="430"
    height="270"
    src="https://www.youtube.com/embed/TFGrrL2hurM"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <%-include ("partials/footer")-%> <%-include ("partials/scripts")-%>
</body>
