<%-include ("partials/header")-%>
<body>
  <main>
    <%-include ("partials/nav")-%>
    <div class="row desktop-only">
      <div class="col-lg-6">
        <div class="text-block">About Us</div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </main>

  <%-include ("partials/footer")-%> <%-include ("partials/scripts")-%>
</body>
