<%-include("partials/header")-%>
<main>
  <%-include("partials/nav")-%>
  <div class="container">
    <p class="heading">Blog Posts</p>
</div>
</main>
<section class="blog">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="post">
          <div class="text">
            <span class="date"
              ><i class="far fa-calendar-alt"></i> Oct 24,2015</span
            >
            <p class="post-title">Lorem ipsum dolor sit amet.</p>
            <p class="by-line">
              By: <span class="by">Admin</span> / Comment:
              <span class="comment">12</span>
            </p>
          </div>
          <div class="image">
            <img src="/images/logo.png" alt="" class="post-image" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="post">
          <div class="text">
            <span class="date"
              ><i class="far fa-calendar-alt"></i> Oct 24,2015</span
            >
            <p class="post-title">Lorem ipsum dolor sit amet.</p>
            <p class="by-line">
              By: <span class="by">Admin</span> / Comment:
              <span class="comment">12</span>
            </p>
          </div>
          <div class="image">
            <img src="/images/logo.png" alt="" class="post-image" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 desktop-only">
        <div class="post">
          <div class="text">
            <span class="date"
              ><i class="far fa-calendar-alt"></i> Oct 24,2015</span
            >
            <p class="post-title">Lorem ipsum dolor sit amet.</p>
            <p class="by-line">
              By: <span class="by">Admin</span> / Comment:
              <span class="comment">12</span>
            </p>
          </div>
          <div class="image">
            <img src="/images/logo.png" alt="" class="post-image" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 desktop-only">
        <div class="post">
          <div class="text">
            <span class="date"
              ><i class="far fa-calendar-alt"></i> Oct 24,2015</span
            >
            <p class="post-title">Lorem ipsum dolor sit amet.</p>
            <p class="by-line">
              By: <span class="by">Admin</span> / Comment:
              <span class="comment">12</span>
            </p>
          </div>
          <div class="image">
            <img src="/images/logo.png" alt="" class="post-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%-include("partials/footer")-%>
<%-include("partials/scripts")-%>
</body>
</html>
