<%-include ("partials/header")-%>
<main>
    <%-include("partials/nav")-%>
    <div class="container">
      <p class="heading">Gallery</p>
</main>
<section class="pics">
    <div class="container">
        <div class="gallery">
       
          <div class="row">
            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/1.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/1.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/2.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/2.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/3.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/3.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>


            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/4.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/4.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>


            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/5.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/5.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>


            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/6.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/6.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/7.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/7.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/8.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/8.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/9.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/9.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/10.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/10.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/11.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/11.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="span3">
              <div class="image">
                <a href="/images/gallery-page/12.jpg" data-rel="prettyPhoto[gallery1]" title="gallery image"><img src="/images/gallery-page/thumbs/12.jpg" alt="thumb">
                  <div class="image-info">
                    <p> <!-- Text here --> </p>
                  </div>
                </a>
              </div>
            </div>

            </div>

          </div>
        </div><!-- gallery ends -->

        <!-- <div class="pagination pagination-more-space">
            <ul>
              <li class="previous"><a href="#">&lt; First</a></li>
              <li><a href="#">&lt;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="active"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="next"><a href="#">&gt;</a></li>
              <li class="next"><a href="#">Last &gt;</a></li>
            </ul>
          </div> --><!-- pagination ends -->
      </div><!-- container ends -->
</section>
<%-include ("partials/footer")-%> <%-include ("partials/scripts")-%>
</body>
</html>
