<%-include("partials/header")-%>
<body>
  <main>
    <div class="container">
      <%-include ("partials/nav")-%>
      <p class="title">Projects</p>
    </div>
  </main>
  <section class="projectcards">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="project">
            <div class="text">
              <h4 class="title">Let's help Owiredua</h4>
              Owiredua has been diagnosed with Neurofibromatosis and to correct
              this, Owiredua needs GHC 55,000 for surgery. Let's all come
              together and support her.
              <br />
              <button class="btn btn-donate">Donate</button>
            </div>
            <div class="image">
              <img
                src="/images/campaign/owiredua.jpeg"
                alt=""
                class="project-image"
              />
            </div>
          </div>
          <div class="project">
            <div class="text">
              <h4 class="title">Let's help Owiredua</h4>
              Owiredua has been diagnosed with Neurofibromatosis and to correct
              this, Owiredua needs GHC 55,000 for surgery. Let's all come
              together and support her.
              <br />
              <button class="btn btn-donate">Donate</button>
            </div>
            <div class="image">
              <img
                src="/images/campaign/owiredua.jpeg"
                alt=""
                class="project-image"
              />
            </div>
          </div>
          <div class="project">
            <div class="text">
              <h4 class="title">Let's help Owiredua</h4>
              Owiredua has been diagnosed with Neurofibromatosis and to correct
              this, Owiredua needs GHC 55,000 for surgery. Let's all come
              together and support her.
              <br />
              <button class="btn btn-donate">Donate</button>
            </div>
            <div class="image">
              <img
                src="/images/campaign/owiredua.jpeg"
                alt=""
                class="project-image"
              />
            </div>
          </div>
          <div class="project">
            <div class="text">
              <h4 class="title">Let's help Owiredua</h4>
              Owiredua has been diagnosed with Neurofibromatosis and to correct
              this, Owiredua needs GHC 55,000 for surgery. Let's all come
              together and support her.
              <br />
              <button class="btn btn-donate">Donate</button>
            </div>
            <div class="image">
              <img
                src="/images/campaign/owiredua.jpeg"
                alt=""
                class="project-image"
              />
            </div>
          </div>
          <div class="project">
            <div class="text">
              <h4 class="title">Let's help Owiredua</h4>
              Owiredua has been diagnosed with Neurofibromatosis and to correct
              this, Owiredua needs GHC 55,000 for surgery. Let's all come
              together and support her.
              <br />
              <button class="btn btn-donate">Donate</button>
            </div>
            <div class="image">
              <img
                src="/images/campaign/owiredua.jpeg"
                alt=""
                class="project-image"
              />
            </div>
          </div>
          <div class="project">
            <div class="text">
              <h4 class="title">Let's help Owiredua</h4>
              Owiredua has been diagnosed with Neurofibromatosis and to correct
              this, Owiredua needs GHC 55,000 for surgery. Let's all come
              together and support her.
              <br />
              <button class="btn btn-donate">Donate</button>
            </div>
            <div class="image">
              <img
                src="/images/campaign/owiredua.jpeg"
                alt=""
                class="project-image"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </section>
  <%-include("partials/footer")-%> <%-include("partials/scripts")-%>
</body>
