body {
  font-family: "Roboto", sans-serif;
}

main {
  background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(90, 92, 106, 0.5) 0%,
      rgba(32, 45, 58, 0.5) 81.3%
    ),
    url("../images/resources/galaxy.jpg");
  background-position: center;
  background-size: cover;
}

main div > p {
  padding: 100px 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.minor-heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;

  font-family: "Montserrat", sans-serif;
}

.mission {
  padding: 30px 10px;
}
.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

.executive {
  display: inline-block !important;
  margin: 10px 30px;
}
.executive img {
  margin: 5px 10px;
  width: 120px;
  height: 130px;
  border-radius: 50%;
}

.team {
  text-align: center;
}

.heading,
.minor-heading {
  color: #f54291;
}

.about {
  padding: 20px;
}

.abt-text {
  padding: 20px 15px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.abt-text .minor-heading {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.role {
  text-emphasis: italic;
}

.name {
  font-weight: bold;
}
iframe {
  border-radius: 10px;
  height: 370px;
  width: 90%;
}
