.bg-gradient {
  background-color: green !important;
  color: white;
  font-weight: bold;
}

.btn-search {
  background-color: green !important;
  color: white;
  font-weight: bold;
}

.logo {
  width: 70px;
}
