body {
  background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(90, 92, 106, 0.8) 0%,
      rgba(32, 45, 58, 0.8) 81.3%
    ),
    url("/images/resources/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.contact {
  padding: 130px 20px;
}
input,
textarea {
  border: none;
  width: 90%;
  background: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.input-wrapper {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.input-wrapper:focus {
  outline-width: 2rem;
  outline: greenyellow;
}
/* icons */
.main .fab {
  padding: 10px;
  border: 1px solid #393b44;
  border-radius: 50%;
  color: #393b44;
  margin: 0 10px;
}

.contact form .fa,
.contact form .fas {
  color: grey;
}

.address {
  padding: 10px;
}

.contact a {
  color: white;
}
.contact a:hover {
  color: #393b44;
  text-decoration: none;
}

.form {
  background-color: #393b44;
}

.input-wrapper,
textarea {
  background-color: white;
}

.details {
  padding-top: 40px;
}

.btn {
  padding: 10px 50px;
  font-family: "Poppins", sans-serif;
}

.btn-contact {
  text-transform: uppercase;
  background-color: #393b44;
  color: white;
  margin: 10px;
}

.footer {
  height: 20px;
}

@media (min-width: 1200px) {
  .contact {
    padding: 220px 20px;
  }
}
