section {
  padding: 40px 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(90, 92, 106, 0.4) 0%,
      rgba(32, 45, 58, 0.4) 81.3%
    ),
    url("../images/background.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.heading {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.minor-heading,
.item-heading {
  font-family: "Montserrat", sans-serif;
  color: #f54291;
}

/* Main */
.text-block {
  padding: 140px 0;
  text-align: center;
}

.text-main {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: "Poppins", sans-serif;
}
.text-main > span {
  color: #f54291;
}

.text-other {
  font-size: 1.2rem;
  color: white;
}

.btn {
  padding: 10px 50px;
  font-family: "Poppins", sans-serif;
}

.btn-donate {
  text-transform: uppercase;
  background-color: #f54291;
  color: white;
}

/* featured */

.campaign-image {
  width: 100%;
  height: 260px;
  border-radius: 10px;
}

.cause {
  margin: 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

.cause .text {
  padding: 40px 40px;
}

.cause button {
  margin: 20px 0;
  padding: 10px 20px;
  border: 1px solid#f54291;
  color: #f54291;
  background: none;
}

.cause button:hover {
  margin: 20px 0;
  background-color: #f54291;
  color: white;
}
.featured-thumb {
  width: 80px;
}

/* What we do */

.item-img {
  text-align: center;
}
.item-heading {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.item-text {
  text-align: center;
  margin: 15px 0;
}

/*
.mas {
  background-color: indianred;
} */

/* cta */
.cta-testimony {
  text-align: center;
  padding: 50px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-testimony .text {
  font-size: 1.3rem;
}

.buttons button {
  margin: 10px;
}

/* Reviews */
.testimony {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.3rem;
}

.quote {
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}

.author {
  font-weight: bold;
}

.review {
  padding-bottom: 35px;
}

.testimony .carousel-indicators > li {
  border-radius: 120%;
  width: 2px;
  padding: 10px;
  background: none;
  border: 1px solid #fff;
  background-color: #fff;
}
/* Blog */
.post {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: inline-flex;
  margin: 30px 0;
}

.post:hover {
  transform: translateY(30px);
}
.post .text {
  padding: 20px;
  width: 50%;
  text-align: left;
}

.post .image {
  width: 50%;
  text-align: center;
}

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.date {
  font-weight: bold;
}
.date > i {
  color: #f54291;
}

.by,
.comment {
  color: #f54291;
}

.by-line {
  color: #808080;
}
/* partners */
.logos {
  text-align: center;
}

/* .partner-logo {
  width: 250px;
} */
.aga {
  margin-top: -25px;
}
/* Contact */
.contact input,
textarea {
  border: none;
  width: 90%;
  background: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.input-wrapper {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
  margin: 10px;
}

/* icons */
.round-icon {
  padding: 10px;
  border: 1px solid #f54291;
  border-radius: 50%;
  color: #f54291;
  margin: 0 4px;
}

.fa-map-marker-alt {
  padding: 10px 12px;
}

.contact form .fa,
.contact form .fas {
  color: grey;
}

.address {
  padding: 10px;
}

.contact a {
  color: black;
}
.contact a:hover {
  color: #f54291;
  text-decoration: none;
}

.details {
  padding: 20px;
}

.btn-contact {
  text-transform: uppercase;
  background-color: #f54291;
  color: white;
  margin: 10px;
}

/* Map */
.map iframe {
  width: 100%;
}
@media (min-width: 300px) and (max-width: 700px) {
  .main {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(90, 92, 106, 0.4) 0%,
        rgba(32, 45, 58, 0.4) 81.3%
      ),
      url("../images/background.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .featured-thumb {
    width: 40px;
  }

  .desktop-only {
    display: none;
  }
  .address {
    font-size: 1.1rem;
  }
  .testimony .carousel-indicators > li {
    border-radius: 120%;
    width: 5px;
    padding: 5px;
    background: none;
    border: 1px solid#f54291;
    background-color: #f54291;
  }
}

@media (min-width: 700px) {
  .main {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(90, 92, 106, 0.4) 0%,
        rgba(32, 45, 58, 0.4) 81.3%
      ),
      url("../images/background.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 300px) and (max-width: 700px) and (orientation: portrait) {
  main {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(90, 92, 106, 0.4) 0%,
        rgba(32, 45, 58, 0.4) 81.3%
      ),
      url("../images/background.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
